/*Retirando display's*/
.main_game{
    display: none;
}

.imgs_footer{
    display: none;
}

.tela_final{
    display: none;
}

.container_tela_inicial{
    text-align: center;
}

/*Texto tela inicial*/
.box_texto{
    
}

.texto_botaoinicio{
    text-align: center;
}

.container_botao{
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao_inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0;
    width: 200px;
    height: 50px;
    background-color: aliceblue;
    border: 2px solid black;
    cursor: pointer;
}
