/*Retirando display's*/
.main_game{
    display: none;
}

.imgs_footer{
    display: none;
}

.tela_final{
    display: none;
}

.tela_inicial{
    
}

.container_tela_inicial{
    text-align: center;
    margin-block-start: 150px;
}

/*Texto tela inicial*/
.container_tela_inicial{

}

.texto_botaoinicio{
    text-align: center;
}

.container_botao{
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao_inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0;
    width: 200px;
    height: 50px;
    background-color: aliceblue;
    border: 2px solid black;
    cursor: pointer;
}

.link_socials_inicial{
    text-decoration: none;
    margin-inline: 10px;
}

.icon_inicial{
    font-size: 2rem;
}