.main_game{
    display: none;
}

.imgs_footer{
    display: none;
}

.tela_final{
    display: none;
}

.box_texto{
    
}

.texto_botaoinicio{
    text-align: center;
}

.botao_inicio{
    margin: 100px;
    width: 200px;
    height: 50px;
    background-color: aliceblue;
    border: 2px solid black;
    cursor: pointer;
}