.tela_inicial{
    display: none;
}

.main_game{
    display: none;
}

.imgs_footer{
    display: none;
}

.tela_final{
    line-height: 1.7;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container_tela_final{
    text-align: center;
}

.container_texto_final{
    margin-block-start: 200px;
}

.container_botoes{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_botao_telafinal {
    margin-inline: 7px;
}

.botao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: aliceblue;
    border: 2px solid black;
    cursor: pointer;
}

.container_contatos_final{
    margin-block-start: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link_socials_final{
    text-decoration: none;
    margin-inline: 10px;
  }

.icon_final{
    font-size: 2.2rem;
}

/*Estilização individual*/

.pontuacao{
    display: inline;
}

.container_texto_final :nth-child(3){
    margin-block-start: 30px; 
    margin-block-end: 5px;   
}

.container_texto_final h1:nth-child(1){
    font-size: 55px;
    margin-block-end: 40px;
}
